.recursos-financieros-container {
  max-width: 900px;
  margin: 40px auto 0 auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.07);
  padding: 32px 24px;
}

.recursos-financieros-container .img {
  display: block;
  margin: 0 auto 16px auto;
  max-width: 180px;
  height: auto;
}

.abajo {
  text-align: center;
  color: #1e5b4f;
  font-size: 2rem;
  margin-bottom: 18px;
  font-family: 'Patria_Light';
}

hr {
  border: none;
  border-top: 2px solid #6d0033;
  margin: 18px 0;
}

h2 {
  color: #161a1d;
  margin-top: 18px;
  font-size: 2rem;
  font-family: 'Patria_Regular';
}

ul {
  margin-left: 24px;
  margin-bottom: 24px;
    font-size: 1.2rem;
 font-family: 'NotoSans_Condensed-Thin';

}

ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'NotoSans_Condensed-Thin';
}

@media (max-width: 600px) {
  .recursos-financieros-container {
    padding: 16px 4px;
  }
  .abajo {
    font-size: 1.2rem;
  }
  ul {
    margin-left: 12px;
  }
}